backend/config.py
backend/todo
backend/mysql-config.py
backend/modules/__pycache__/
backend/utils/__pycache__/
backend/__pycache__/
backend/data/
backend/venv/
*.pdf
*.odt
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.~lock.Research.odt#
