.habit-title {
    font-size: 1.25rem; /* text-xl */
    font-weight: bold; /* font-bold */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 50vw; /* Default max-width for larger displays */
    flex-grow: 1;
}

.habit-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 90vw; /* Default max-width for larger displays */
    flex-grow: 1;
}
